* {
background-color: teal
}
.info {
    display: flex;
    display: center;
    border: 5px solid rgb(238, 238, 235);
    width: 80%;
    height: 300px;
    margin: auto;
    display: block;
 } 
 .begin h2 {
     display: inline-block;
 }
 .timer {
     padding: 0 0 0 80%;
 }
 .instruct {
     color: white;
     font-size: 28px;
 }
 .welcome {
     color:navy;
     font-size: 48px;
     text-align: center;
 }
.btn {
    display: flex;
    display: center; 
    margin: auto; 
    background-color: white;
    font: teal;
    font-size: 18px;
} 
.view {
    font: 32px;
    text-align: left;
    font:white;
}
.timer {
    color:white;
}
.id {
    color:white;
}
#question-title {
    font: white;
    font: 32px;
}
#choices {
    font: white;
}
.choices {
    color: white;
    margin: auto;
    text-align:center;
    font-size: 32px;
    margin: auto;
    padding: 25px 0 25px 0;
}

.question div, .question p {
    display: flex;
    display: center;
    border: 5px hidden rgb(238, 238, 235);
    width: 80%;
    /* height: 300px; */
    margin: auto;
    display: block;
}
.choice {
    align-content: center;
    width: 25%;
    padding: 0 25px 0 25px;
}
#message {
    font-size: 32px;
    font-style: italic;
    color: white;
    text-align: center;
}
.choice {
    border: solid black;
    text-align: center;
    display: block;
    background-color: white;
    color: teal;
    margin: auto;
    font-size: 18px;
}
#test {
    color: white;
    font-size: 30px;
    margin: auto;
    text-align: center;
}
#submit {
    border: solid black;
    text-align: center;
    display: block;
    background-color: white;
    color: teal;
    margin: auto;
    font-size: 18px;
}
#user {
    /* margin: auto; */
    font-size: 30px;
    text-align: center;
    background-color: white;
    margin: 25px 0 0 600px;
}